<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
	</system.web>
	<appSettings>
		<add key="HOME_PAGE_URL" value="http://132.5.196.110/GMI/Index.htm"/>
	</appSettings>
	<connectionStrings>
		<add name="ITIC_db" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.6.222.37)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ITPMDEV)));uid=gmi;pwd=gmi;"/>
		<add name="Stacks_db" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.6.222.37)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ITPMDEV)));uid=tiodb;pwd=think4me;"/>
	</connectionStrings>
</configuration>

<!--<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
	</compilation>
	</system.web>
	<appSettings>
		<add key="HOME_PAGE_URL" value="http://132.5.196.110/GMI/Index.htm"/>
	</appSettings>
	<connectionStrings>
		<add name="ITIC_db" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=132.5.197.174)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ITPMDEV)));uid=gmi;pwd=gmi;"/>
		<add name="Stacks_db" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=132.5.197.174)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ITPMDEV)));uid=tiodb;pwd=think4me;"/>
	</connectionStrings>
</configuration>-->