<?xml version="1.0"?>
<!-- For more information on how to configure your ASP.NET application, please visit http://go.microsoft.com/fwlink/?LinkId=169433 -->
<configuration>
	
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>

	<appSettings>
		<add key="HOME_PAGE_URL" value="http://%(gmiwebserver.hostip)%/GMS_HOME/Index.htm" />
	</appSettings>
	
	<connectionStrings>
		<add name="ITIC_db" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=%(gmidbserver.hostname)%)(PORT=%(gmidbserver.port)%))(CONNECT_DATA=(SERVICE_NAME=%(gmidbserver.servicename)%)));uid=%(gmidbserver.GUI2DBuser)%;pwd=%(gmidbserver.GUI2DBpass)%;"/>
		<add name="Stacks_db" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=%(gmidbserver.hostname)%)(PORT=%(gmidbserver.port)%))(CONNECT_DATA=(SERVICE_NAME=%(gmidbserver.servicename)%)));uid=%(gmidbserver.GUI2TPMuser)%;pwd=%(gmidbserver.GUI2TPMpass)%;"/>
	</connectionStrings>
	
</configuration>
